/* Generics */

.bg_dark_blue {
    background-color: #161c3b;
}

.bg_blue {
    background-color: #00439c;
}

.btn.btn-primary {
    background-color: #cd3d0f;
    border: 1px solid #cd3d0f;
}

.btn.btn-primary:hover {
    box-shadow: 0px 0px 0px 2px black,
        0px 0px 0px 4px #cd3d0f;
}

.btn.btn-secondary {
    background-color: #2d64e6;
    border: 1px solid #2d64e6;
}

.btn.btn-secondary:hover {
    box-shadow: 0px 0px 0px 2px white,
        0px 0px 0px 4px #2d64e6;
}

.btn.btn-explore-first {
    background-color: #d9dadc;
    border: 1px solid #d9dadc;
    color: #2d64e6;
}

/* Upper Header */

.top_header {
    min-height: 30px;
    background-color: black;
}

.top_header img {
    height: 15px;
}

/* Bottom Header - Navbar */

.navbar .search_lens {
    width: 25px;
}

.dropdown-toggle::after {
    content: url("../img/chevron-down-solid.svg");
    width: 10px;
    border: none;
    vertical-align: 0;
}

/* Jumbotron */

.jumbotron {
    margin-top: 90px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 60px - 30px - 160px);
}

.jumbotron .game_logo {
    width: 50%;
}

.jumbotron .container,
.jumbotron .row {
    height: 100%;
}

/* Presentation */

.presentation .presentation_carousel_select img {
    width: 60%;
}

/* Game Banner */

.game_banner {
    min-height: 400px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}

.game_banner .game_banner_content img {
    max-width: 50%;
}

/* PlayStation Plus */

.playstation_plus {
    background-color: #bebcbb;
}

/* Footer */

footer {
    min-height: 100px;
}

footer .sony_copyright img {
    width: 150px;
}

footer .sony_copyright .sony_copyright_text {
    font-size: 0.8rem;
}

footer .country_selection::before {
    content: url("../img/language-globe.svg");
    display: inline-block;
    width: 20px;
    margin-right: 15px;
}